<h1>Enter Movie To Search!</h1>
<form action="/results" method="get">
    <input type="text" placeholder="Enter movie title to search" name="search"> 
    <br>
    <input type="submit" name="submit" value="Search for Movie">
</form>