<h1>Welcome to Movies Database Search Page</h1>
<br><br>

<form action="/result" method="get">
    <input type="text" name="title" placeholder="Enter movie to search" required>
    <input type="submit" name="submit" placeholder="Search">
</form>

